<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg bg-info-subtle" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Worhip Materials</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>
<div class="container-fluid car">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/f9323542d603f8e0d8eb4470b1915b3b.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/Worship-Presentation-750x500.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid content">
  <div class="row justify-content-md-center">
    <div class="col-lg-auto">
      <article class="MAIN">
       <!-- ********************* song part****************************  -->
       <!-- *********************Header********************************-->
        <section class="row justify-content-md-center header">
          <header>
              <h1>Holy and Anointed one Chords by &nbsp;<span><a class="artistlink" href="">Vineyard Music</a></span></h1>
          </header>
          <div class="description">
            <table cellpadding="0"cellspacing="0">
              <tr>
                <th>Difficulty:</th>
                <td><span>Intermediate</span></td>
              </tr>
              <tr>
                <th>Tuning:</th>
                <td><span>E A D G B E</span></td>
              </tr>
              <tr>
                <th>Capo:</th>
                <td><span>no capo</span></td>
              </tr>
            </table>
          </div>
        </section>
        <!-- *********************Header********************************-->
        <!-- *********************body********************************-->
        <section class="body">
          
        </section>
        <!-- *********************body********************************-->



       <!-- ********************* song part****************************  -->

      </article>
    </div>
  </div>
</div>