.car{
    margin-top: 50px;
}
#carouselExampleIndicators{
    margin: 0 -10px;
}
.carousel-inner{
   height: 700px;
}


@media only screen and (max-width: 1024px) {
    .carousel-inner{
        height: 600px;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-inner{
        height: 400px;
    }
}

@media only screen and (max-width: 425px) {
    .carousel-inner{
        height: 200px;
    }
}